<% layout("/layouts/boilerplate.ejs")%>
<%title=result.title%>

    <body>
        <div class="row">
        <div class="card list-show">
            <div class="col-8 img-div offset-1">
            <img src="<%=result.image%>" class="img-show card-img-top" alt="listing_image">
            </div>
            <div class="card-body col-8 offset-1">
                <h5 class="card-title"><i><%=result.title%></i></h5>
                <p class="card-text"><i>About this Place : <%=result.description%> </i></p>
                <p class="card-text">&#8377; <%=result.price.toLocaleString("en-IN")%>/night</p>
                <p class="card-text"><i>Location : <%=result.location%>&ensp;<%=result.country%></i></p>
                <diV class="row">
                    <div class="col-1">
                        <form method="GET" action="/listings/<%=result._id%>/edit">
                            <button class="btn btn-dark edit-btn">Edit</button>
                        </form>
                    </div>
                    <div class="col-1 offset-1">
                        <form method="POST" action="/listings/<%=result._id%>?_method=DELETE">
                            <button class="btn btn-dark dlt-btn">Delete</button>
                        </form>
                    </diV>
                </diV>
            </div>
        </div>
        </div>

        <!-- <img src="<%=result.image%>">
        <h3><b><%=result.title%></b></h3>
        <p><%=result.description%></p> 
        <p>&#8377; <%=result.price.toLocaleString("en-IN")%></p>      
        <p><%=result.location%></p>  
        <p><%=result.country%></p>        
        <form method="GET" action="/listings/<%=result._id%>/edit">
            <button>Edit</button>
        </form>
        <br>
        <form method="POST" action="/listings/<%=result._id%>?_method=DELETE">
            <button>Delete</button>
        </form> -->
    </body>